@import '../../../../styles';

.dashboard__container{
    display: flex;
    flex-direction: column;

    .dashboard__title-wrapper {
        margin: auto;

    }
    
    .dashboard__wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
        justify-items: center;
        gap: 1rem;
        padding: 1rem;
        width: 100%;
    }
}