<main class="insurance__container">
   <app-download-button class="app__download-button"></app-download-button>
   <div class="secure__title-container">
      <div class="secure__title-wrapper">
         <h1 class="secure__title">Meus seguros</h1>
     </div>
 </div>
  <section class="insurance__description">
     <img class="insurance__img" src="assets/products/Acidente Pessoal/card-cover.jpg" alt="">
  </section>
  <h1 class="insurance__tittle">Seguro de Acidentes Pessoais E Invalidez Por acidente</h1>
  <span class="material-symbols-outlined arrow white">
     arrow_forward
  </span>
  <p>Apresentamos o Seguro de Acidentes Pessoais, uma solução abrangente que oferece segurança
    financeira em momentos inesperados. Este seguro é cuidadosamente desenvolvido para proteger o
    segurado e seus beneficiários em caso de acidentes, garantindo apoio financeiro em situações
    de morte acidental ou invalidez permanente. <br>
    O produto assegura proteção contra eventos adversos, proporcionando tranquilidade ao cobrir despesas médicas e oferecer suporte financeiro durante períodos de incapacidade temporária. Além disso, inclui auxílio alimentação em casos de falecimento, reafirmando seu compromisso em oferecer uma cobertura completa e eficaz.
    <br> Com o Seguro de Acidentes Pessoais, você está preparado para enfrentar desafios, seguro de que está amparado por uma solução de confiança e excelência.
  </p>

   <section class="insurance__table">
      <div class="insurance__column">
         <div class="insurance__table-title">
            <h4 class="table__title"> O que Não Cubrimos?</h4>
         </div>
         <div class="insurance__table-content">
            <ul class="insurance__table-list">
               <li class="insurance__table-items">
                  <div class="table__icon-paragraph">
                     <span class="material-symbols-outlined check-color">
                        check
                     </span>
                     Morte Acidental: Garante o pagamento do capital segurado, pela morte do Segurado
                     em decorrência de acidente pessoal coberto ocorrido durante a vigência do Seguro.
                  </div>
               </li>
               <li class="insurance__table-items">
                  <div class="table__icon-paragraph">
                     <span class="material-symbols-outlined check-color">
                        check
                     </span>
                     Invalidez Permanente por Acidente:Garante o pagamento de uma indenização até
                     o limite do capital segurado, relativa à perda, redução ou impotência funcional
                     definitiva, total ou parcial, de um membro ou órgão em virtude de lesão física
                     causada por acidente pessoal coberto, ocorrido durante a vigência do Seguro.
                  </div>
               </li>
               <li class="insurance__table-items">
                  <div class="table__icon-paragraph">
                     <span class="material-symbols-outlined check-color">
                        check
                     </span>
                     Âmbito Geográfico:
                     O Seguro dará cobertura durante as 24 (vinte e quatro)
                     horas do dia em qualquer parte do globo terrestre.
                  </div>
               </li>
               <li class="insurance__table-items">
                  <div class="table__icon-paragraph">
                     <span class="material-symbols-outlined check-color">
                        check
                     </span>
                     Carência:
                     Não haverá período de carência para os eventos decorrentes de acidentes pessoais.
                     No caso de suicídio ou tentativa de suicídio nos 2 (dois) primeiros anos ininterruptos,
                     contados da data de início de vigência da cobertura individual, ou de sua recondução
                     depois de suspenso, não será devido o capital segurado, conforme previsto no artigo 798 da Lei
                     10.406 de 10/01/02.
                  </div>
               </li>
               <li class="insurance__table-items">
                  <div class="table__icon-paragraph">
                     <span class="material-symbols-outlined check-color">
                        check
                     </span>
                     Acidente Pessoal: O evento com data caracterizada, exclusivo e
                     diretamente externo, súbito, involuntário, violento, e causador de lesão física,
                     que, por si só e independente de toda e qualquer outra causa, tenha como conseqüência
                     direta a morte, ou a invalidez permanente, total ou parcial, do Segurado, ou que torne
                     necessário tratamento médico;
                  </div>
               </li>
               <li class="insurance__table-items">
                  <div class="table__icon-paragraph">
                     <span class="material-symbols-outlined check-color">
                        check
                     </span>
                     Riscos Cobertos:
                  </div>
                  <ul>
                     <li> O suicídio, ou a sua tentativa; </li>
                     <li> Acidente pessoal; </li>
                     <li> Ataques de animais e os casos de hidrofobia, envenenamento ou intoxicação deles decorrentes,
                        excluídas as doenças infecciosas e parasitárias transmitidas por picadas de insetos; </li>
                     <li> Atentados ou agressões, atos de legítima defesa e atos praticados por dever de solidariedade
                        humana; </li>
                     <li> Choque elétrico e raio; </li>
                     <li> contato com substâncias ácidas ou corrosivas; </li>
                     <li> tentativa de salvamento de pessoas ou bens; </li>
                     <li> queda n’ água ou afogamento; </li>
                     <li> as situações reconhecidas por instituições oficiais de Previdência ou assemelhadas,
                        como “invalidez acidentária”, nas quais o evento causador da lesão não se enquadre
                        integralmente na caracterização de invalidez por acidente pessoal; </li>
                  </ul>
               </li>
            </ul>
         </div>
      </div>

      <div class="table__line"></div>

      <div class="insurance__table-content">
         <div class="insurance__table-title">
            <h4 class="table__title"> O que Não Cubrimos?</h4>
         </div>
         <ul class="insurance__table-list">
            <li class="insurance__table-items">
               <div class="table__icon-paragraph">
                  <span class="material-symbols-outlined close-color">
                     close
                  </span>
                  Riscos decorrentes de uso de material nuclear para quaisquer fins, explosão nuclear provocada ou não,
                  bem como contaminação ou exposição a radiações nucleares ou ionizantes;
               </div>
            </li>
            <li class="insurance__table-items">
               <div class="table__icon-paragraph">
                  <span class="material-symbols-outlined close-color">
                     close
                  </span>
                  Riscos decorrentes de atos ou operações de guerra, declarada ou não, de guerra química ou
                  bacteriológica, de guerra
                  civil, de guerrilha, de revolução, agitação, motim, revolta, sedição, sublevação ou outras
                  perturbações de ordem pública e delas decorrentes, exceto se decorrente de prestação de serviço
                  militar ou atos de humanidade em auxílio de outrem;
               </div>
            </li>
            <li class="insurance__table-items">
               <div class="table__icon-paragraph">
                  <span class="material-symbols-outlined close-color">
                     close
                  </span>
                  Riscos decorrentes de furacão, ciclone, terremoto, maremoto, erupção vulcânica e
                  outras convulsões da natureza;
               </div>
            </li>
            <li class="insurance__table-items">
               <div class="table__icon-paragraph">
                  <span class="material-symbols-outlined close-color">
                     close
                  </span>
                  Riscos decorrentes de atos ilícitos dolosos praticados pelo Segurado, pelo
                  Beneficiário ou pelo representante legal de um ou de outro ou ainda, quando seguro
                  contratado por pessoa jurídica, por seus sócios controladores, dirigentes e
                  administradores;
               </div>
            </li>
            <li class="insurance__table-items">
               <div class="table__icon-paragraph">
                  <span class="material-symbols-outlined close-color">
                     close
                  </span>
                  Riscos decorrentes de competições em veículos, inclusive treinos preparatórios;
               </div>
            </li>
            <li class="insurance__table-items">
               <div class="table__icon-paragraph">
                  <span class="material-symbols-outlined close-color">
                     close
                  </span>
                  Riscos decorrentes direta ou indiretamente de ato terrorista, independente de seu
                  propósito, e desde que este tenha sido devidamente reconhecido como atentatório à
                  ordem pública pela autoridade competente;
               </div>
            </li>
            <li class="insurance__table-items">
               <div class="table__icon-paragraph">
                  <span class="material-symbols-outlined close-color">
                     close
                  </span>
                  Riscos decorrentes do suicídio ou da tentativa de suicídio ocorrido nos 2 (dois)
                  primeiros anos de vigência inicial da cobertura individual ou da sua recondução
                  depois de suspenso;
               </div>
            </li>
            <li class="insurance__table-items">
               <div class="table__icon-paragraph">
                  <span class="material-symbols-outlined close-color">
                     close
                  </span>
                  Riscos decorrentes de tratamentos e/ou cirurgias experimentais, exames e/ou
                  medicamentos ainda não reconhecidos pelo Serviço Nacional de Fiscalização de
                  Medicina e Farmácia e suas consequências;
               </div>
            </li>
            <li class="insurance__table-items">
               <div class="table__icon-paragraph">
                  <span class="material-symbols-outlined close-color">
                     close
                  </span>
                  Riscos decorrentes de tratamentos e/ou cirurgias experimentais, exames e/ou medicamentos
                  ainda não reconhecidos pelo Serviço Nacional de Fiscalização de Medicina e Farmácia e suas
                  consequências;
               </div>
            </li>
            <li class="insurance__table-items">
               <div class="table__icon-paragraph">
                  <span class="material-symbols-outlined close-color">
                     close
                  </span>
                  Riscos decorrentes de ato reconhecidamente perigoso que não seja motivado por necessidade
                  justificada e/ou prática, por parte do Segurado, de atos ilícitos ou contrários à lei, exceto se
                  decorrente de prestação de serviço militar ou atos de humanidade em auxílio de outrem;
               </div>
            </li>
            <li class="insurance__table-items">
               <div class="table__icon-paragraph">
                  <span class="material-symbols-outlined close-color">
                     close
                  </span>
                  Riscos decorrentes de epidemias e pandemias declaradas por órgão competente;
               </div>
            </li>
            <li class="insurance__table-items">
               <div class="table__icon-paragraph">
                  <span class="material-symbols-outlined close-color">
                     close
                  </span>
                  Riscos decorrentes de qualquer tipo de doença, incluídas as profissionais, LER/DORT,
                  fibromialgias e síndromes miofasciais, quaisquer que sejam suas causas, ainda que
                  provocadas, desencadeadas ou agravadas, direta ou indiretamente por acidente,
                  ressalvadas as infecções, estados septicêmicos e embolias resultantes de ferimento
                  visível;
               </div>
            </li>
            <li class="insurance__table-items">
               <div class="table__icon-paragraph">
                  <span class="material-symbols-outlined close-color">
                     close
                  </span>
                  Riscos decorrentes de perturbações e intoxicações alimentares de qualquer espécie,
                  bem como as intoxicações decorrentes da ação de medicamentos, salvo quando prescritos
                  por médico, em decorrência de acidente coberto.
               </div>
            </li>
         </ul>
      </div>
   </section>

   <div>
      <p class="pdf__download">Dúvidas? baixe o documento por <a href="assets/pdf/CG-Seguro-de-Acidentes-Pessoais.pdf"
            download="CG-Seguro-de-Acidentes-Pessoais.pdf">AQUI</a></p>
   </div>

   <div class="contacts">
      <h2>Contatos</h2>
      <ul class="insurance__table-list">
         <li class="insurance__table-items">
            <p>Lorem ipsum dolor sit, amet consectetur</p>
            <div class="table__icon-paragraph">
               <span class="material-symbols-outlined check-color">
                  call
               </span> (00) 0 0000-0000
            </div>
         </li>
         <li class="insurance__table-items">
            <p>Lorem ipsum dolor sit, amet consectetur</p>
            <div class="table__icon-paragraph">
               <span class="material-symbols-outlined check-color">
                  call
               </span> (00) 0 0000-0000
            </div>
         </li>
         <li class="insurance__table-items">
            <p>Lorem ipsum dolor sit, amet consectetur</p>
            <div class="table__icon-paragraph">
               <span class="material-symbols-outlined check-color"> call </span>
               (00) 0 0000-0000
            </div>
         </li>
      </ul>
   </div>

   <div class="download__policy" id="download__policy-btn">
      <button (click)="functionalityNotCreated()" class="download__policy-btn">
         <a class="download__policy-article ">
            Download Apólice
         </a>
         <span class="material-symbols-outlined check-color">
            download
         </span>
      </button>
   </div>
</main>