<section class="password-creation__container">
    <div class="password-creation__content">
        <img [src]="logoPath" alt="logo da empresa Cartão Saúde Ouro">
        
        <h1 class="signup__title">CRIAR <br> NOVA SENHA</h1>
        <div class="password-creation__form">
            <form  class="password-creation__form " [formGroup]="formPassword" (ngSubmit)="sendPassword()">
                <div class="password-creation__buttons">
                    <div class="password__input">
                        <div class="password_wrapper">
                            <app-input
                                type="text"
                                placeholder="Insira a nova senha"
                                class="default__input"
                                formControlName="password"
                                [type]="isPasswordShow ? 'text' : 'password'"
                                (blur)="passwordValidation()" [errorMessage]="erroMessage"
                            >
                            </app-input>
                            <label class="login__showPassword" for="handleCheckbox1">
                                <span *ngIf="!isPasswordShow" class="material-symbols-outlined">visibility_off</span>
                                <span *ngIf="isPasswordShow" class="material-symbols-outlined">visibility</span>
                                <input id="handleCheckbox1" type="checkbox" (click)="handlePasswordView()">
                            </label>
                        </div>
    
                        <div class="password_wrapper">
                        <app-input
                            type="text"
                            placeholder="Repita a nova senha"
                            class="default__input"
                            formControlName="repeatedPassword"
                            [type]="isPasswordShow ? 'text' : 'password'"
                            (blur)="passwordValidation()" [errorMessage]="erroMessage"
                        >
                        </app-input>
                        <label class="login__showPassword" for="handleCheckbox2">
                            <span *ngIf="!isPasswordShow" class="material-symbols-outlined">visibility_off</span>
                            <span *ngIf="isPasswordShow" class="material-symbols-outlined">visibility</span>
                            <input id="handleCheckbox2" type="checkbox" (click)="handlePasswordView()">
                        </label>
                        </div>
                    </div>
                    <div class="text__check">

                        <p class="text__check-title">A senha deverá ser composta por:</p>
        
                        <div class="text__check-p">
                            <span class="material-symbols-outlined text-sucess" *ngIf="hasNumberAndLetter">
                                check
                            </span>

                            <span class="material-symbols-outlined text-danger" *ngIf="!hasNumberAndLetter">
                                close
                            </span>
                            <p class="text__check-p">Números e Letras</p>
                        </div>
        
                        <div class="text__check-p" >
                            <span class="material-symbols-outlined text-sucess" *ngIf="passwordEqual">
                                check
                            </span>

                            <span class="material-symbols-outlined text-danger" *ngIf="!passwordEqual">
                                close
                            </span>
                            <p class="text__check-p">Senha Igual</p>
                        </div>

                        <div class="text__check-p" >
                            <span class="material-symbols-outlined text-sucess" *ngIf="hasLength">
                                check
                            </span>

                            <span class="material-symbols-outlined text-danger" *ngIf="!hasLength">
                                close
                            </span>
                            <p class="text__check-p">Maior que 6 Dígitos</p>
                        </div>
                    </div>
                </div>


                <app-button
                    type="submit"
                    label="ENVIAR"
                    [class]="'btn primary-btn'"
                >
                </app-button>
            </form>
        </div>
    </div>
</section>
