@import 'src/styles';

//common styles
.password-creation__container, .password-creation__content, 
.password-creation__form, .password-creation__buttons, 
.text__check-p{
    display: flex;
}

.password-creation__content, .password-creation__form, 
.password-creation__buttons, .text__check {
    flex-direction: column;
}

.password-creation__container, .password-creation__form, .text__check-p  {
    align-items: center;
}

//others
.password-creation__container {
    background-color: $primary-color;
    min-height: 100vh;
    justify-content: center;
}

.signup__title {
    margin-left: 2.6rem;
    color: $secondary-color;
    font-size: 1.5rem;
    font-weight: 700;
}

.password-creation__form {
    width: 100%;
    justify-content: center;
    gap: 2rem;
}

.password__input {
    width: 90%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.password_wrapper{
    position: relative;
        .login__showPassword{
            position: absolute;
            top: 0;
            right: 0;

            input{
                display: none;
            }

            .material-symbols-outlined {
                cursor: pointer;
                color: white;
                font-size: 15px;
                font-variation-settings:
                    'FILL' 0,
                    'wght' 400,
                    'GRAD' 0,
                    'opsz' 24
            }
        }
}

.password-creation__buttons{
width: 80%;
display: flex;
gap: 1.2rem;
}

.text__check-title {
    color: #fff;
    font-size: 1rem;
    text-align: center;
}

.text__check-p {
    flex-direction: row;
    color: #fff;
}

.text__check-p {
    margin: 0;
}

.material-symbols-outlined {
    font-variation-settings:
      'FILL' 0,
      'wght' 400,
      'GRAD' 0,
      'opsz' 24;
    color: black;
    font-size: 2rem;
    font-weight: 600;
}

.text-danger {
    color: rgb(255, 110, 110);
}


.text-sucess {
    color: rgb(0, 4, 255);
}



