<main class="insurance__container">
     <div class="secure__title-container" >
        <div class="secure__title-wrapper">
            <h1 class="secure__title">Benefícios</h1>
        </div>
    </div>
     <section class="insurance__description">
        <img class="insurance__img" src="assets/products/Desconto farmácia/card-banner.jpg" alt="Banner desconto farmácia">
     </section>
     <h1 class="insurance__tittle">Desconto Farmácia</h1>
     <span class="material-symbols-outlined arrow white">
        arrow_forward
     </span>
     <p>
        Aproveite nossas ofertas exclusivas em medicamentos e produtos de saúde! Com descontos especiais, 
        você pode economizar em suas compras enquanto cuida da sua saúde e bem-estar. Visite nossa farmácia e 
        descubra como é fácil cuidar de você e da sua família com qualidade e economia. Não perca esta 
        oportunidade única de garantir os melhores produtos com preços imperdíveis!
     </p>

     <div class="contacts">
        <h2>Contatos</h2>
        <ul class="insurance__table-list">
           <li class="inusrance__table-items">
              <p>Lorem ipsum dolor sit, amet consectetur</p>
              <div class="table__icon-paragraph">
                 <span class="material-symbols-outlined check-color">
                    call
                 </span> (00) 0 0000-0000 </div>
           </li>
           <li class="inusrance__table-items">
              <p>Lorem ipsum dolor sit, amet consectetur</p>
              <div class="table__icon-paragraph">
                 <span class="material-symbols-outlined check-color">
                    call
                 </span> (00) 0 0000-0000 </div>
           </li>
           <li class="inusrance__table-items">
              <p>Lorem ipsum dolor sit, amet consectetur</p>
              <div class="table__icon-paragraph">
                 <span class="material-symbols-outlined check-color"> call </span>
                 (00) 0 0000-0000
              </div>
           </li>
        </ul>
     </div>
  
     <div class="download__policy" id="download__policy-btn">
        <button class="download__policy-btn">
           <a href="https://pesquisamedicamento.epharma.com.br/?benefitId=194927" download="" class="download__policy-article">
              Ir para o Site
           </a>
           <span class="material-symbols-outlined check-color">
            arrow_forward
           </span>
        </button>
     </div>
  </main>
  