
<section class="recover__container">
    <div class="recover__wrapper">
        <img class="default__logo" [src]="logoPath" alt="Logo Cartão Saúde Ouro">
        <h1 class="default__title">{{ pageTitle }}</h1>
        <form *ngIf="path == 'recoverData'" class="recover__form" (ngSubmit)="onSubmitCpf()">
            <div *ngIf="isFirstAccess">
                <app-input
                [class]="'default__input'"
                placeholder="(00)0 0000-0000"
                [type]="'text'"  
                mask="(00)0 0000-0000"
                (change)="inputPhoneNumber = $event.target"
                >
                </app-input>
            </div>
            <div *ngIf="!isFirstAccess" class="recover__radio-container">
                <h2>Deseja receber o token por:</h2>
                <div class="recover__radio-wrapper">
                    <label for="phoneNumber">
                        <span>Telefone</span>
                        <span *ngIf="handleCheckPhone" class="checked material-symbols-outlined">radio_button_checked</span>
                        <span *ngIf="!handleCheckPhone" class="material-symbols-outlined">radio_button_unchecked</span>
                        <input (change)="handleInputRadio($event.target)" value="phoneNumber" name="recoverRadio" id="phoneNumber" type="radio" checked>
                    </label>
                    
                    <label for="email">
                        <span>E-mail</span>
                        <span *ngIf="handleCheckEmail" class="checked material-symbols-outlined">radio_button_checked</span>
                        <span *ngIf="!handleCheckEmail" class="material-symbols-outlined">radio_button_unchecked</span>   
                        <input (change)="handleInputRadio($event.target)" value="email" name="recoverRadio" id="email" type="radio" >
                    </label>
                </div>
            </div>
            <app-button
                type="submit"
                label="Receber token"
                [class]="'btn primary-btn'"  
            >
            </app-button>       
        </form>
        <form *ngIf="path == 'insertToken'" class="recover__form"  [formGroup]="recoverToken" (ngSubmit)="validateSmsToken()">
            <app-input
                [class]="'default__input'"
                placeholder="Insira o token"
                [type]="'text'"  
                formControlName="token"
                [errorMessage]="errorMessageToken ? errorMessageToken : null"
            >
            </app-input>

            <div class="recover__btn-wrapper">
                    <app-button
                        type="submit"
                        label="Validar"
                        [class]="'btn primary-btn'"  
                    >
                    </app-button>
                    <app-button
                        type="button"
                        label=" {{timeLeft != 0 ? timeLeft : ''}} Reenviar Token"
                        [isDisabled]="isDisabledResendBtn"
                        [class]="'btn primary-btn'"  
                        (click)="resendToken()"
                    >
                    </app-button>
            </div>
        </form>
        <form *ngIf="path == 'createPassword'"   class="password-creation__form " [formGroup]="formPassword" (ngSubmit)="onSubmitPassword()">
            <div class="password-creation__buttons">
                <div class="password_wrapper">
                    <app-input
                    type="text"
                    placeholder="Insira a nova senha"
                    class="default__input"
                    formControlName="password"
                    [type]="isPasswordShow ? 'text' : 'password'"
                    (blur)="passwordValidation()">
                    </app-input>
                    <label class="login__showPassword" for="handleCheckbox1">
                        <span *ngIf="!isPasswordShow" class="material-symbols-outlined">visibility_off</span>
                        <span *ngIf="isPasswordShow" class="material-symbols-outlined">visibility</span>
                        <input id="handleCheckbox1" type="checkbox" (click)="handlePasswordView()">
                    </label>
                </div>
                
                <div class="password_wrapper">
                    <app-input
                    type="text"
                    placeholder="Repita a nova senha"
                    class="default__input"
                    formControlName="repeatedPassword"
                    [type]="isPasswordShow ? 'text' : 'password'"
                    (blur)="passwordValidation()">
                </app-input>
                <label class="login__showPassword" for="handleCheckbox2">
                    <span *ngIf="!isPasswordShow" class="material-symbols-outlined">visibility_off</span>
                    <span *ngIf="isPasswordShow" class="material-symbols-outlined">visibility</span>
                    <input id="handleCheckbox2" type="checkbox" (click)="handlePasswordView()">
                </label>
                </div>
                <div class="text__check">

                    <P class="text__check-title">A senha deverá ser composta por:</P>
                    <div class="text__check-p">
                        <span class="material-symbols-outlined text-sucess" *ngIf="hasletter">
                            check
                        </span>
                        <span class="material-symbols-outlined text-danger" *ngIf="!hasletter">
                            close
                        </span>
                            <p class="text__check-p">Letras</p>
                    </div>
    
                    <div class="text__check-p">
                        <span class="material-symbols-outlined text-sucess" *ngIf="!hasNumber">
                            check
                        </span>
                        <span class="material-symbols-outlined text-danger" *ngIf="hasNumber">
                            close
                        </span>
                            <p class="text__check-p">Números</p>
                    </div>
    
                    <div class="text__check-p" >
                        <span class="material-symbols-outlined text-sucess" *ngIf="passwordEqual">
                            check
                        </span>
                        <span class="material-symbols-outlined text-danger" *ngIf="!passwordEqual">
                            close
                        </span>
                            <p class="text__check-p">Senha Igual</p>
                    </div>

                    <div class="text__check-p" >
                        <span class="material-symbols-outlined text-sucess" *ngIf="hasLength">
                            check
                        </span>
                        <span class="material-symbols-outlined text-danger" *ngIf="!hasLength">
                            close
                        </span>
                            <p class="text__check-p">Maior que 6 Dígitos</p>
                    </div>
                </div>
            </div>


            <app-button
            type="submit"
            label="Enviar"
            [class]="'btn primary-btn'"
            ></app-button>
        </form>
    </div>
</section>