@import '../../../../styles';

.create-company__container{
    width: 100%;
    height: 100%;
    padding: 1rem;

    .create-company__title-container{
        display: flex;
        justify-content: space-between;
        
        @media screen and (max-width: $third-breakpoint) {
            flex-direction: column;
            align-items: center;
            gap: 1rem;
        }

        .create-company__title-wrapper{
            display: flex;
            align-items: center;
            gap: 1rem;
    
            .create-company__logo {
                color: $primary-color;
                font-size: 3rem;
            }
            
            .create-company__title{
                font-size: 2rem;
                color: $primary-text;
            }
        }  
    }
}

