@import "../../../../styles";

.login__container {
  min-height: 100vh;
  background: $primary-color;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;

  .login__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    .login__title {
      color: $secondary-color;
      font-weight: 700;
      font-size: 1.5rem;
      max-width: 270px;
      width: 100%;
    }

    .login__form {
      display: flex;
      flex-direction: column;
      margin-top: 1rem;
      gap: 1rem;
      max-width: 270px;
      width: 100%;

      .login__inputPassoword-wrapper {
        position: relative;

        .login__showPassword {
          position: absolute;
          top: 0;
          right: 0;

          input {
            display: none;
          }

          .material-symbols-outlined {
            cursor: pointer;
            color: white;
            font-size: 15px;
            font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
          }
        }
      }

      .login__span-recoveryPassword {
        font-size: 0.7rem;
        font-weight: 600;
        color: white;
        cursor: pointer;
        text-decoration: underline;
      }

      app-button {
        margin: 1rem auto;
      }
    }

    .login__span-createAcount {
      font-size: 0.7rem;
      color: white;

      span {
        font-weight: 800;
        color: $secondary-color;
        cursor: pointer;
        text-decoration: none;
      }
    }
  }
}

.login__form-login {
  background-color: transparent;
  border: none;
  color: white;
  border-bottom: 2px solid white;
  width: 100%;
  outline: none;
}
