<main class="insurance__container">
  <app-download-button class="app__download-button"></app-download-button>
   <div class="secure__title-container" >
      <div class="secure__title-wrapper">
          <h1 class="secure__title">Meus seguros</h1>
      </div>
  </div>
   <section class="insurance__description">
      <img class="insurance__img" src="assets/products/Seguro Funeral/card-banner.jpg" alt="">
   </section>
   <h1 class="insurance__tittle">Seguro Funeral</h1>
   <span class="material-symbols-outlined arrow white">
      arrow_forward
   </span>
   <p>Seguro Funeral
      - Rembolso ao(s) próprio(s) beneficiário(s), das despesas ocorridas com o funeral do segurado, na hipótese de
      ocorrência de morte do segurado, exceto se decorrente de riscos excluídos, observadas as Condições Gerais e
      Contratuais do Seguro, limitado o(s) valor(es) da(s) respectiva(s) nota(s) fiscal(is), e respeitando-se o Capital
      Segurado vigente na data do falecimento.
      ou Assistência: por opção do(s) beneficiário(s), o reembolso poderá ser substituído pela prestação do Serviço de
      Assistência Funeral.
   </p>

   <section class="insurance__table">
      <div class="insurance__column">
         <div class="insurance__table-title">
            <h4 class="table__title">O que Cobrimos?</h4>
         </div>
         <div class="insurance__table-content">
            <ul class="insurance__table-list">
               <li class="inusrance__table-items">
                  <div class="table__icon-paragraph">
                     <span class="material-symbols-outlined check-color">
                        check
                     </span>
                     <p>Funeral: Garante a prestação do Serviço de Assistência Funeral,
                        em caso de morte do Segurado ocasionada por causas naturais ou acidentais,
                        durante a vigência da cobertura individual do Seguro, vigente na data de falecimento do Segurado.
                     </p>
                  </div>
               </li>
               <li class="inusrance__table-items">
                  <div class="table__icon-paragraph">
                     <span class="material-symbols-outlined check-color">
                        check
                     </span>
                     Itens inclusos no Serviço de Assistência Funeral:
                  </div>
                  <ul>
                     <li> Assessoria para as Formalidades Administrativas; </li>
                     <li> Registro de Óbito; </li>
                     <li> Serviço de Retorno do Corpo; </li>
                     <li> Carro Funerário: </li>
                     <li> Urna Mortuária: </li>
                     <li>
                         Ornamentação:
                        <ul>
                           <li> Uma coroa de flores; </li>
                           <li> Enfeite floral (no interior da urna);</li>
                           <li> Véu para cobrir o corpo. </li>
                        </ul>
                     </li>
                     <li> Paramentos:castiçais e velas; </li>
                     <li> Velório;   </li>
                     <li> Mesa de Condolências; </li>
                     <li> Sepultamento ou Cremação (VERIFIQUE CONDIÇÕES); </li>
                     <li> Locação de Jazigo (VERIFIQUE CONDIÇÕES); </li>
                     <li> Traslado do Corpo; </li>
                  </ul>
               </li>
            </ul>
         </div>
      </div>
      
      <div class="table__line"></div>

      <div class="insurance__column">
         <div class="insurance__table-title">
            <h4 class="table__title"> O que Não Cubrimos?</h4>
         </div>
         <div class="insurance__table-content">
            <ul class="insurance__table-list">
               <li class="inusrance__table-items">
                     <div class="table__icon-paragraph">
                     <span class="material-symbols-outlined close-color">
                        close
                     </span>
                     Despesas decorrentes de confecção, manutenção e/ou recuperação de jazigos,
                     com exceção da locação de jazigo prevista no subitem “k” do item anterior;
                  </div>
                  </li>
                  <li class="inusrance__table-items">
                     <div class="table__icon-paragraph">
                     <span class="material-symbols-outlined close-color">
                        close
                     </span>
                     Sepultamento de membros;
                  </div>
                  </li>
               <li class="inusrance__table-items">
                  <div class="table__icon-paragraph">
                     <span class="material-symbols-outlined close-color">
                        close
                     </span>
                     Confecção de lápide;
                  </div>
               </li>
               <li class="inusrance__table-items">
                  <div class="table__icon-paragraph">
                     <span class="material-symbols-outlined close-color">
                        close
                     </span>
                     Aquisição de sepultura, jazigo, terreno, cova, carneiro (gaveta nos cemitérios);
                  </div>
               </li>
               <li class="inusrance__table-items">
                  <div class="table__icon-paragraph">
                     <span class="material-symbols-outlined close-color">
                        close
                     </span>
                     Reembolso de gastos extras efetuados pelos familiares;
                  </div>
               </li>
               <li class="inusrance__table-items">
                  <div class="table__icon-paragraph">
                     <span class="material-symbols-outlined close-color">
                        close
                     </span>
                     Pedidos de assistência funeral anterior ao início de vigência ou fora da vigência do
                     Seguro;
                  </div>
               </li>
               <li class="inusrance__table-items">
                  <div class="table__icon-paragraph">
                     <span class="material-symbols-outlined close-color">
                        close
                     </span>
                     Exumação de corpos que estiverem no jazigo quando do sepultamento;
                  </div>
               </li>
            </ul>
         </div>
      </div>
   </section>

   <div><p class="pdf__download">Dúvidas? baixe o documento por <a href="assets/pdf/CG-Funeral-Fx-Etaria.pdf" download="CG-Funeral-Fx-Etaria.pdf">AQUI</a></p></div>

   <div class="contacts">
      <h2>Contatos</h2>
      <ul class="insurance__table-list">
         <li class="inusrance__table-items">
            <p>Lorem ipsum dolor sit, amet consectetur</p>
            <div class="table__icon-paragraph">
               <span class="material-symbols-outlined check-color">
                  call
               </span> (00) 0 0000-0000 </div>
         </li>
         <li class="inusrance__table-items">
            <p>Lorem ipsum dolor sit, amet consectetur</p>
            <div class="table__icon-paragraph">
               <span class="material-symbols-outlined check-color">
                  call
               </span> (00) 0 0000-0000 </div>
         </li>
         <li class="inusrance__table-items">
            <p>Lorem ipsum dolor sit, amet consectetur</p>
            <div class="table__icon-paragraph">
               <span class="material-symbols-outlined check-color"> call </span>
               (00) 0 0000-0000
            </div>
         </li>
      </ul>
   </div>

   <div class="download__policy" id="download__policy-btn">
      <button (click)="functionalityNotCreated()" class="download__policy-btn">
         <a  class="download__policy-article ">
            Download Apólice
         </a>
         <span class="material-symbols-outlined check-color">
            download
         </span>
      </button>
   </div>
</main>
